body {
    background: rgb(218, 255, 238);
}

/* ============== Weclome, Sign-UP, Sign-In wrapper Overlay =============================== */
#wrapper_welcome,
#wrapper_signup,
#wrapper_signin,
#wrapper_event_form,
#wrapper_news_form {
    max-width: 350px;
    margin: auto;
    padding: 20px;
    background: salmon;
    margin-top: 100px;
}

#container_welcome,
#container_signup,
#container_signin,
#conatiner_event_form,
#container_news_form {
    margin: 20px 0px
}

#container_welcome h2,
#wrapper_signup h2,
#wrapper_signin h2,
#wrapper_event_form h2,
#wapper_news_form h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
}

#overlay_welcome,
#overlay_signup,
#overlay_signin,
#overlay_event,
#overlay_news {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7)
}

#overlay_signup,
#overlay_signin,
#overlay_event,
#overlay_news {
    display: none;
}

#btn_close_signup,
#btn_close_welcome,
#btn_close_signin,
#btn_close_event_form,
#btn_close_news_form {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #fff;
}

#container_signup input,
#container_signin input,
#container_event_form input,
#container_event_form textarea,
#container_news_form input,
#container_news_form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 5px;
}

#container_signup input[type=submit],
#container_signin input[type=submit],
#container_event_form input[type=submit],
#container_news_form input[type=submit] {
    font-size: 16px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    background: cornsilk
}

#container_signup input[type=submit]:hover,
#container_signin input[type=submit]:hover,
#container_event_form input[type=submit]:hover,
#container_news_form input[type=submit]:hover {
    background: cornsilk
}

#container_welcome #btn_open_signup_1,
#btn_open_signin_1 {
    font-size: 16px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    background: cornsilk;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border: 1px solid gray;
    font-size: 15px;
    border-radius: 5px;
}


#container_welcome p {
    font-size: 20px;

}




.add_interest,
.add_review {
    background-color: salmon;
    display: none;
}


#unhide {
    display: block;
    background-color: salmon;
}

#hide {
    display: none;


}

#interests_div_0,
#interests_div_2,
#interests_div_4,
#interests_div_5,
#interests_div_6,
#interests_div_7,
#interests_div_8 {
    background-color: rgb(56, 220, 192);
}

#interests_div_1,
#interests_div_3,
#interests_div_5,
#interests_div_7 {
    background: rgb(121, 220, 121);
}

h1,
#review-title,
#interest-title {
    text-align: center;
}

input,
button,
textarea,
select {
    background: cornsilk;
}

button {
    margin: 5px;
    padding: 10px;
    align-content: center;
}